.selectProductAllegroIdeasInputField {
  margin-bottom: 40px;
}

.selectProductIdeaLabel,
.selectProductIdeaInput {
  display: block;
}

.selectProductIdeaLabel {
  margin-bottom: 19.5px;
}

.selectProductIdeaLabel {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
}

.selectProductIdeaInput {
  width: 310px;
  height: 40px;
  color: #757575;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 300;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  text-indent: 12px;
}

.selectProductIdeaInput .productAllegroIdeaImage {
  background-color: aqua;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
