.header__img {
  display: grid;
  margin-top: 66px;
  margin-bottom: 66px;
}

.header__img .logo {
  color: var(--white-color);
  text-align: center;
  font-family: var(--logo-font);
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.header__img .logo span {
  color: var(--logo-dot-color);
}

.nav__link a {
  text-decoration: none;
  align-items: center;
}

.nav__link a .nav__name {
  align-items: center;
  font-family: var(--body-font);
}

.sidebar-img {
  height: 22px;
  width: 22px;
  color: var(--first-color-light);
}

.sidebar {
  height: 100%;
  width: 104px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: var(--first-color);
  font-size: 16px;
  font-weight: 500;
  transition: 0.25s;
}

.separator {
  height: 1.7px;
  background: var(--first-color-light);
  width: 22px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.nav__link {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 50px;
}

.link {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  position: relative;
  color: var(--first-color-light);
  transition: 100ms ease-out;
}

li:nth-child(7) {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.active {
  font-weight: 700;
  transition: 0s;
  filter: brightness(100);
}

.nav__link.active::before {
  content: '';
  height: 24px;
  width: 6px;
  background: var(--white-color);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  float: left;
  margin-left: -41px;
  transition: 1s ease;
}

.link:hover {
  /*margin-left: 1rem;*/
  color: var(--white-color);
}

.nav__link img {
  margin-right: 42px;
}
