.changePersonalDataButton {
  border-radius: 8px;
  height: 35px;
  width: 175px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid var(--first-color);
  float: right;
}

.changePersonalDataButton p {
  color: var(--first-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 600;
}

.changePersonalDataButton:hover {
  border: 1px solid var(--purple-button-hover);
}

.changePersonalDataButton:hover p {
  color: var(--purple-button-hover);
}
