.changeProfilePhotoSection {
  display: flex;
  align-items: center;
}

.changeProfilePhotoSection img {
  width: 95px;
  height: 95px;
  background-color: aqua;
  border-radius: 50px;
  margin-right: 41px;
}