.changeProfilePhotoSection {
    display: flex;
    align-items: center;
}

.profileImage {
    width: 95px;
    height: 95px;
    background-color: aqua;
    border-radius: 50px;
    margin-right: 41px;
}

.uploadedImage {
    width: 95px;
    height: 95px;
    border-radius: 50px;
}