.loginButtonLink {
  text-decoration: none;
}

.loginButton {
  border-radius: 8px;
  height: 45px;
  width: 357px;
  background-color: var(--first-color);
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  border: 0px;
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 600;
}

.loginButton:hover {
  background-color: var(--purple-button-hover);
}