.searchLink {
  text-decoration: none;
}

.searchButton {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background-color: var(--first-color);
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 22px;
}

.searchButton:hover {
  background-color: var(--purple-button-hover);
  cursor: pointer;
}
