.dropFileInput {
    position: relative;
    height: 200px;
    border: 2px dashed var(--border-color);
    border-radius: 20px;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--input-bg);
}

.dropFileInput input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropFileInput:hover,
.dropFileInput.dragover {
    opacity: 0.6;
}

.dropFileInputLabel {
    text-align: center;
    color: var(--leter-color);
    font-weight: 600;
    padding: 10px;
}

.dropFileInputLabel img {
    width: 60px;
}

.ordersFilesPreviev {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
}

.orderFilePreviev {
    position: relative;
    display: flex;
    background-color: var(--input-bg);
    padding: 15px;
    border-radius: 20px;
    align-items: center;
}

.orderFilePreviev img {
    width: 45px;
    height: 45px;
    margin-right: 25px;
}

.orderFilePrevievInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
}

.orderFilePrevievInfo p {
    font-size: 12px;
    font-family: var(--body-font);
    font-weight: 500;
}

.deleteOrderFileButton {
    background-color: var(--box-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.deleteOrderFileButton .deleteOrderFileIcon {
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    background-size: cover;
}

.deleteOrderFileButton .deleteFileOrderIcon {
    background-image: url('../../../../../assets/icons/deleteFile_icon.svg');
}

.deleteOrderFileButton:hover .deleteFileOrderIcon {
    background-image: url('../../../../../assets/icons/deleteFile_icon:hover.svg');
}

.orderFilePreviev:hover .deleteOrderFileButton {
    opacity: 1;
}

.fileDownloadAnchor {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}