.implementedOrdersButton {
    border-radius: 8px;
    height: 35px;
    width: 130px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-right: 11px;
    box-sizing: border-box;
}

.implementedOrdersButton.selected {
    border: 1px solid var(--first-color);
}

.implementedOrdersButton.selected p {
    color: var(--first-color);
}


.implementedOrdersButton p {
    color: var(--grey-color);
    font-family: var(--body-font);
    font-size: 12px;
    font-weight: 600;
}

.implementedOrdersButton:hover {
    border: 1px solid var(--first-color);
}

.implementedOrdersButton:hover p {
    color: var(--first-color);
}