.content .addProductForm {
  margin-left: 60px;
  margin-top: 20px;
  margin-right: 60px;
  background-color: var(--white-color);
  /*height: calc(100vh - 247px);*/
  border-radius: 8px;
  position: relative;
  padding: 35px;
  display: flex;
  flex-direction: column;
}
