.allegroLinkProductButton {
  margin-left: 8px;
  display: flex;
}

.allegroLinkProductButton .allegroLinkProductIcon {
  cursor: pointer;
  width: 55px;
  height: 18px;
  margin-left: 8px;
  background-size: cover;
}

.allegroLinkProductButton .allegroProductLinkIcon {
  background-image: url('../../../../assets/icons/allegroLink_icon.svg');
}

.allegroLinkProductButton:hover .allegroProductLinkIcon {
  background-image: url('../../../../assets/icons/allegroLink_icon:hover.svg');
}