.ebayLinkProductButton {
  display: flex;
}

.ebayLinkProductIcon {
  cursor: pointer;
  width: 42px;
  height: 17px;
  margin-left: 10px;
  background-size: cover;
}

.ebayLinkProductButton .ebayProductLinkIcon {
  background-image: url('../../../../assets/icons/ebayLink_icon.svg');
}

.ebayLinkProductButton:hover .ebayProductLinkIcon {
  background-image: url('../../../../assets/icons/ebayLink_icon_hover.svg');
}
