.ProductsTableHeader {
    height: 49px;
    color: var(--letter-color);
    font-style: var(--body-font);
    background-color: #ffffff;
}

.ProductsTableHeader th {
    font-size: 14px;
    font-weight: 700;
}

.ProductsTableHeader th:nth-child(7) {
    padding-left: 35px;
}