.addAuctionLink {
    text-decoration: none;
    margin-right: 14px;
    margin-left: 11px;
}

.addAuctionButton {
    border-radius: 8px;
    height: 35px;
    width: 171px;
    background-color: var(--first-color);
    justify-content: space-between;
    text-align: center;
    display: flex;
    align-items: center;
}

.addAuctionButton img {
    width: 16px;
    height: 16px;
    margin-left: 20px;
}

.addAuctionButton p {
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 12px;
    font-weight: 600;
    margin-right: 25px;
}

.addAuctionButton:hover {
    background-color: var(--purple-button-hover);
}