.auctionPortals .sectionLabel {
  align-items: center;
  display: flex;
}

.auctionPortals .sectionLabel .sectionNumber {
  background-color: var(--first-color);
  border-radius: 50px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auctionPortals .sectionLabel .sectionNumber h1 {
  font-size: 14px;
  color: var(--white-color);
  font-family: var(--body-font);
  font-weight: 600;
}

.auctionPortals .sectionLabel p {
  font-size: 16px;
  font-family: var(--body-font);
  font-weight: 600;
  margin-left: 18px;
}

.auctionPortals .addAuctionPortalsInputs {
  margin-left: 54px;
  margin-top: 36px;
  display: flex;
}