.addProductLink {
    text-decoration: none;
}

.addProductButton {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    background-color: var(--first-color);
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.addProductButton img {
    width: 20px;
    height: 20px;
}

.addProductButton:hover {
    background-color: var(--purple-button-hover);
}