.ebayParameterField {
  margin-right: 49px;
  width: 78%;
  height: 90px;
}

.ebayParameterLabel,
.ebayParameterInput {
  display: block;
}

.ebayParameterLabel {
  margin-bottom: 10px;
}

.ebayParameterLabel {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
}

.ebayParameterInput {
  width: 310px;
  height: 40px;
  color: #757575;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 300;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  text-indent: 12px;
}

.ebayProductParameter {
  width: auto;
  margin-top: 18px;
}

.ebayProductParameter:nth-child(odd) {
  margin-right: 40px;
}

.addAuctionAllEbayButtons .addAuctionEbayBackButton .backToPreviousAllegroPopupButton {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
