.notImplementedOrdersButton {
  border-radius: 8px;
  height: 35px;
  width: 130px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-right: 11px;
  box-sizing: border-box;
}

.notImplementedOrdersButton.selected {
  border: 1px solid var(--first-color);
}

.notImplementedOrdersButton.selected p {
  color: var(--first-color);
}

.notImplementedOrdersButton p {
  color: var(--grey-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 600;
}

.notImplementedOrdersButton:hover {
  border: 1px solid var(--first-color);
}

.notImplementedOrdersButton:hover p {
  color: var(--first-color);
}
