@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sen:wght@400;700;800&display=swap');

:root {
  --first-color: #5f47f1;
  --letter-color: #333333;
  --letter-color2: #434343;
  --first-color-light: #e5e5e5;
  --white-color: #ffffff;
  --logo-dot-color: #6ad2ff;
  --bg-color: #f8f8f8;
  --light-mode-color: #ffd400;
  --purple-button-hover: #8675f1;
  --searchbar-color: #9e9e9e;
  --grey-color: #aab1c6;
  --settings-red-color: #ff4a4a;
  --settings-red-color-hover: #f67878;
  --apply-change-data: #1f9254;

  /* table */
  --secondTableColor: #f5f4fe;

  /* product status */
  --productExposedColor: #1f9254;
  --productNotExposedColor: #ff4a4a;

  /* order status */
  --orderCompleted: #1f9254;
  --orderSend: #257be1;
  --orderWaiting: #ffa030;
  --orderImplemented: #ffd400;

  --buttonPaginatioBgColor: #f8f8f8;
  --buttonPaginationBgActivePage: #5f47f1;

  --body-font: 'Poppins', sans-serif;
  --logo-font: 'Sen', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  width: calc(100% - 104px);
  float: right;
  background-color: var(--bg-color);
  min-height: 100%;
  height: 100vh;
}

.content {
  height: 100%;
}

.content .charts {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px;
  /* height: calc(100vh - 210px); */
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 8px;
  margin-top: -20px;
}

.error-spacer {
  height: 20px;
  visibility: hidden;
}
