.overlayAllegroPopup {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0px;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.allegroPopup {
  max-width: 730px;
  min-width: 500px;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 35px 35px 35px 35px;
}

.allegroPopup .allegroPopupBody .allegroAuctionInputsRow {
  display: flex;
}

.allegroPopup .allegroPopupBody .addauctionAllegroButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  right: 35px;
  bottom: 35px;
}

.overlayAllegroPopup .allegroPopup .allegroPopupSectionLabel .allegroPopUpInfoText {
  margin-bottom: 19.5px;
  color: var(--grey-color);
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
}

.allegroBrandIcon {
  width: 100px;
  height: 45px;
}

.allegroAuctionParameters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 450px;
}

.allegroAuctionParameters .productParameter {
  width: 50%;
  margin-top: 25px;
}

.addAuctionAllAllegroButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.addAuctionAllegroBackButton {
  display: flex;
  align-items: center;
}
