.ebayButton {
  border-radius: 8px;
  height: 35px;
  width: 45px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-right: 11px;
  box-sizing: border-box;
}

.ebayButton .iconAuctionsEbay {
  width: 32px;
  height: 12.83px;
  background-size: cover;
}

.ebayButton .ebayAuctionsIcon {
  background-image: url('../../../../../assets/icons/ebay_icon.svg');
  color: var(--grey-color);
}

.ebayButton:hover {
  border: 1px solid var(--first-color);
  color: var(--first-color);
}

.ebayButton:hover .ebayAuctionsIcon {
  background-image: url('../../../../../assets/icons/ebay_icon:hover.svg');
}

.ebayButton.selected {
  border: 1px solid var(--first-color);
  color: var(--first-color);
}

.ebayButton.selected .ebayAuctionsIcon {
  background-image: url('../../../../../assets/icons/ebay_icon:hover.svg');
}
