.forgotPasswordBackground {
  background-color: #5f47f1;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  display: flex;
}

.forgotPasswordBackground .forgotPassword {
  background-color: #ffffff;
  width: 680px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  justify-content: center;
}

.forgotPasswordBackground .forgotPassword .forgotPasswordSection {
  margin-left: 161.5px;
  margin-top: 84px;
  margin-bottom: 84px;
  margin-right: 161.5px;
  position: relative;
}

.forgotPasswordBackground .forgotPassword h1 {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 22px;
  font-weight: 600;
}

.emailInput,
.emailLabel {
  display: block;
}

.emailLabel {
  margin-bottom: 19.5px;
  margin-top: 19.5px;
}

.emailLabel {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
}

.emailInput {
  width: 350px;
  height: 40px;
  color: #757575;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 300;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  text-indent: 12px;
}

.forgotPasswordBackground .forgotPassword h2 {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
}

.forgotPasswordBackground .forgotPassword .forgotPasswordSection .emailInput {
  margin-bottom: 54.5px;
}

.forgotPasswordBackground .forgotPassword .forgotPasswordSection .backToLoginPageLink .backToLoginButton {
  position: absolute;
  cursor: pointer;
  right: 460px;
  bottom: 250px;
  width: 25px;
  height: 25px;
}