.signinBackground {
  background-color: #5f47f1;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  display: flex;
}

.signinBackground .signin {
  background-color: #ffffff;
  width: 680px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  justify-content: center;
}

.signinBackground .signin .signinSection {
  margin-left: 161.5px;
  margin-top: 84px;
  margin-bottom: 84px;
  margin-right: 161.5px;
  position: relative;
}

.signinBackground .signin .signinSection .backToLoginPageLink {
  text-decoration: none;
}

.signinBackground .signin h1 {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 22px;
  font-weight: 600;
}

.signinBackground .signin .signinSection .avatarField .avatarUploadedImage {
  border-radius: 50px;
  width: 75px;
  height: 75px;
  border: 9px solid #f8f8f8;
  margin-left: 128.5px;
  margin-top: 15px;
}

.unameLabel,
.unameInput,
.emailInput,
.emailLabel,
.passwordField .passwordInput,
.repeatPasswordField .repeatPasswordInput .passwordLabel,
.repeatPasswordLabel {
  display: block;
}

.signinBackground .signin .signinSection .repeatPasswordField {
  margin-bottom: 54.5px;
}

.signinBackground .signin .signinSection .passwordField .imageEye {
  position: relative;
  /* left: 370px; */
  bottom: 30px;
  margin-right: 14px;
  /* height: 16px; */
  width: 16px;
  cursor: pointer;
  float: right;
}

.signinBackground .signin .signinSection .repeatPasswordField .repeatImageEye {
  position: relative;
  /* left: 370px; */
  bottom: 30px;
  margin-right: 14px;
  /* height: 16px; */
  width: 16px;
  cursor: pointer;
  float: right;
}

.unameLabel,
.emailLabel,
.passwordLabel {
  margin-bottom: 19.5px;
  margin-top: 19.5px;
}

.repeatPasswordLabel {
  margin-bottom: 19.5px;
  margin-top: 19.5px;
}

.unameLabel,
.emailLabel,
.passwordLabel,
.repeatPasswordLabel {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
}

.unameInput,
.emailInput,
.passwordField .passwordInput,
.repeatPasswordField .repeatPasswordInput {
  width: 350px;
  height: 40px;
  color: #757575;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 300;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  text-indent: 12px;
}

.signinBackground .signin h2 {
  color: var(--letter-color);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
}

/* avatar Photo */

.avatarField {
  position: relative;
  margin: auto;
}

.avatarField .file {
  position: absolute;
  bottom: 3.5px;
  right: 172px;
  background: #f8f8f8;
  width: 22px;
  height: 22px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  justify-content: center;
}

.avatarField .file input[type='file'] {
  position: absolute;
  opacity: 0;
}

input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

.addPhotoIcon {
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
}

.signinBackground .signin .signinSection .backToLoginPageLink .backToLoginButton {
  position: relative;
  cursor: pointer;
  float: left;
  right: 120px;
  bottom: 45px;
  /* right: 460px; */
  /* bottom: 680px; */
  width: 25px;
  height: 25px;
}