.confirmUploadedFilesButton {
  border-radius: 8px;
  height: 35px;
  width: 125px;
  background-color: var(--white-color);
  cursor: pointer;
  box-sizing: border-box;
  border: 0px;
  color: var(--apply-change-data);
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 600;
  margin-top: 30px;
}

.confirmUploadedFilesButton:hover {
  border: 1px solid var(--apply-change-data);
}

.confirmUploadedFilesButtonWrapper {
  width: 100%;
  text-align: center;
}
