.AuctionsTableRow {
  font-style: var(--body-font);
}

tbody tr:nth-child(odd) {
  background-color: var(--secondTableColor);
}

.AuctionsTableRow td {
  font-size: 14px;
  font-weight: 400;
}

.AuctionsTableRow td:nth-child(1) {
  max-width: 30px;
}

.AuctionsTableRow td:nth-child(2) {
  max-width: 40px;
}

.AuctionsTableRow td:nth-child(3) {
  max-width: 40px;
}

.AuctionsTableRow td:nth-child(4) {
  max-width: 50px;
}

.AuctionsTableRow td:nth-child(5) {
  max-width: 100px;
}

.AuctionsTableRow td:nth-child(6) {
  max-width: 40px;
}

.AuctionsTableRow td:nth-child(7) {
  padding-left: 35px;
  max-width: 40px;
}

.AuctionsTableRow td:nth-child(8) {
  max-width: 40px;
}

.AuctionsTableRow td:nth-child(9) {
  max-width: 40px;
}

.AuctionsTableRow {
  height: 64px;
  text-align: center;
  color: var(--letter-color);
}

/* product name */
.AuctionsTableRow .productName {
  align-items: center;
  display: inline-flex;
  text-align: left;
  margin-left: 40px;
}

.AuctionsTableRow .productName .productImage {
  height: 32px;
  width: 32px;
  /*background-color: aqua;*/
  border-radius: 8px;
}

.AuctionsTableRow .productName p {
  margin-left: 8px;
  width: 300px;
  float: left;
}

/* product status */
.productStatus {
  font-size: 12px;
  font-weight: 500;
}

.productStatus.productExposed {
  color: var(--productExposedColor);
}

.productStatus.productNotExposed {
  color: var(--productNotExposedColor);
}

.auctionsButtonsAction {
  display: inline-flex;
}

/* buttons Action */
.auctionsButtonsAction .editAuctionIcon {
  margin-right: 8px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.auctionsButtonsAction .backAuctionIcon {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.auctionsButtonsAction .deleteAuctionIcon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-left: 14px;
}

.cancelBackAuctionButton .cancelBackAuctionIcon {
  cursor: pointer;
  width: 21px;
  height: 21px;
  background-size: cover;
}

.cancelBackAuctionButton {
  align-items: center;
  display: flex;
}

.cancelBackAuctionButton .cancelTableIcon {
  background-image: url('../../../../../assets/icons/cancelTable_icon.svg');
}

.cancelBackAuctionButton:hover .cancelTableIcon {
  background-image: url('../../../../../assets/icons/cancelTable_icon:hover.svg');
}

.acceptBackAuctionButton .acceptBackAuctionIcon {
  cursor: pointer;
  width: 21px;
  height: 21px;
  margin-left: 8px;
  background-size: cover;
}

.acceptBackAuctionButton {
  align-items: center;
  display: flex;
}

.acceptBackAuctionButton .assignTableIcon {
  background-image: url('../../../../../assets/icons/assignTable_icon.svg');
}

.acceptBackAuctionButton:hover .assignTableIcon {
  background-image: url('../../../../../assets/icons/assignTable_icon:hover.svg');
}

.refreshAuctionButton .refreshAuctionIcon {
  cursor: pointer;
  width: 16.89px;
  height: 20px;
  background-size: cover;
}

.refreshAuctionButton {
  align-items: center;
  display: flex;
}

.refreshAuctionButton .refreshAuctionIcon {
  background-image: url('../../../../../assets/icons/refreshAuction_icon.svg');
}

@media only screen and (max-width: 1715px) {
  .AuctionsTableRow .productName p {
    max-width: 200px;
  }
}

@media only screen and (max-width: 1420px) {
  .AuctionsTableRow .productName p {
    max-width: 100px;
    font-size: 12px;
  }

  .AuctionsTableRow td {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .AuctionsTableRow td {
    font-size: 12px;
  }
}