tr>td.details.open {
  background-color: #fff;
  width: 100%;
  max-height: 100px;
  padding: 10px 10px;
}

.auctionDetailsWrapper td:nth-child(1) {
  max-width: 30px;
}

.auctionDetailsWrapper td:nth-child(3),
.auctionDetailsWrapper td:nth-child(4),
.auctionDetailsWrapper td:nth-child(5),
.auctionDetailsWrapper td:nth-child(6),
.auctionDetailsWrapper td:nth-child(8) {
  max-width: 80px;
}

.auctionDetailsWrapper td:nth-child(2) {
  max-width: 43px;
}

.auctionDetailsWrapper td:nth-child(9) {
  max-width: 37px;
}

.auctionDetailsWrapper {
  height: 64px;
}

.auctionDetailsWrapper.open {
  max-height: 100px;
  padding: 10px 10px;
}

.details {
  display: flex;
  font-family: var(--body-font);
  color: var(--letter-color);
  justify-content: space-between;
}

.auctonDaysToEndSection {
  padding-left: 70px;
  display: inline-flex;
  align-items: center;
  float: left;
  font-family: var(--body-font);
}


.auctonDaysToEndSection h1 {
  font-size: 14px;
  font-weight: 600;
  margin-right: 7px;
}

.auctonDaysToEndSection h2 {
  font-size: 14px;
  font-weight: 400;
}