.ProductsTableRow {
  font-style: var(--body-font);
}

tbody tr:nth-child(odd) {
  background-color: var(--secondTableColor);
}

.ProductsTableRow td {
  font-size: 14px;
  font-weight: 400;
}

.tableRow td:nth-child(1) {
  max-width: 30px;
}

.ProductsTableRow td:nth-child(2),
.ProductsTableRow td:nth-child(3),
.ProductsTableRow td:nth-child(4),
.ProductsTableRow td:nth-child(5),
.ProductsTableRow td:nth-child(6),
.ProductsTableRow td:nth-child(8) {
  max-width: 80px;
}

.ProductsTableRow td:nth-child(7) {
  padding-left: 35px;
}

.ProductsTableRow {
  height: 64px;
  text-align: center;
  color: var(--letter-color);
}

/* product name */
.ProductsTableRow .productName {
  align-items: center;
  display: inline-flex;
}

.ProductsTableRow .productName .productImage {
  height: 32px;
  width: 32px;
  background-color: aqua;
  border-radius: 8px;
}

.ProductsTableRow .productName p {
  margin-left: 8px;
}

/* product status */
.productStatus {
  font-size: 12px;
  font-weight: 500;
}

.productStatus.productExposed {
  color: var(--productExposedColor);
}

.productStatus.productNotExposed {
  color: var(--productNotExposedColor);
}

/* buttons Action */

.productsButtonsAction {
  display: inline-flex;
}

.productsButtonsAction .editProductIcon {
  margin-right: 8px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.productsButtonsAction .deleteProductIcon {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.canceleDeleteProductButton .canceleDeleteProductIcon {
  cursor: pointer;
  width: 21px;
  height: 21px;
  background-size: cover;
}

.canceleDeleteProductButton {
  align-items: center;
  display: flex;
}

.canceleDeleteProductButton .cancelTableIcon {
  background-image: url('../../../../../assets/icons/cancelTable_icon.svg');
}

.canceleDeleteProductButton:hover .cancelTableIcon {
  background-image: url('../../../../../assets/icons/cancelTable_icon:hover.svg');
}

.acceptDeleteProductButton .acceptDeleteProductIcon {
  cursor: pointer;
  width: 21px;
  height: 21px;
  margin-left: 8px;
  background-size: cover;
}

.acceptDeleteProductButton {
  align-items: center;
  display: flex;
}

.acceptDeleteProductButton .assignTableIcon {
  background-image: url('../../../../../assets/icons/assignTable_icon.svg');
}

.acceptDeleteProductButton:hover .assignTableIcon {
  background-image: url('../../../../../assets/icons/assignTable_icon:hover.svg');
}
