.allegroCatalogueComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.allegroCatalogueComponent .searchRow {
  display: flex;
  flex-direction: row;
}

.allegroCatalogueComponent .productList {
  width: 500px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
  /* box-shadow: inset -10px 0px 5px rgba(0, 0, 0, 0.1); */
}

.productCard {
  padding: 10px;
}
